*
# git
!.gitignore
!README.md
!.config

# bash profile
!.bashrc
!.profile

# vim and neovim configs
!.vimrc
!.config/nvim/
!.config/nvim/init.vim

# tmux config
!.tmux.conf
!.tmux/tmux-powerline/
!.tmux/tmux-powerline/*

# kitty terminal config
!.config/kitty/
!.config/kitty/*

# bspwm
!.config/bspwm/
!.config/bspwm/bspwmrc
!.config/sxhkd/
!.config/sxhkd/sxhkdrc

# polybar
!.config/polybar/
!.config/polybar/*
!.config/polybar/scripts/
!.config/polybar/scripts/*

# dunst
!.config/dunst
!.config/dunst/*
